<!DOCTYPE html>
<html>
<head>
    <title>VLAB</title>
</head>
<body>
    <h1>Welcome to VLAB </h1>

    <p> You have enetered the vlab environment. Your details are as followed</p>
    <p>{{val}}</p>

    <script>
        // Read and parse the query parameters from the URL
        var queryString = window.location.search;
        var urlParams = new URLSearchParams(queryString);

        // Get the values of the parameters
       /* var json_data = JSON.parse(urlParams.get("jsondata"));
        if(json_data != ""){
           try {
                // Display the parameters on the new page
                var message = "Parameter 1: " + JSON.stringify(json_data) ;
                document.body.innerHTML += message;
                console.log(json_data);
                if(json_data.role == "admin" ){ window.location.href = "VLAB_admin.html"}

                //self.setValue(json);
            }
            catch(e) {
                window.alert('invalid JSON - '+json_data);
                throw e;
            }
        }
        else{console.error("json data not found.")}*/
        
    </script>
</body>
</html>
